<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    canvas{
        width: 300px;
        height: 200px;
        border: 1px solid black;
    }
    .box{
        width: 250px;
        height: 250px;
        border: 1px solid black;
    }
    .red{
        background: crimson;
    }
    .bordure{
        border: 10px solid black;
    }
    
</style>
<body>
    <div id="mon-app">
        <h1>Vue JS Cours</h1>
        <!-- <button v-on:click="toggleColor=!toggleColor">change color</button> -->
        <button v-on:click="toggleBox=!toggleBox">change color</button>
        <!-- <div v-if="toggleBox" class="box red"></div>
        <div v-else="toggleBox" class="">sinon</div>
        <p v-if="num===1">valeur est 1</p>
        <p v-else-if="num===2">valeur est 2</p>
        <p v-else-if="num===3">valeur est 3</p>
        <p v-else>valeur est autre</p> -->
        <!-- <div v-bind:class="[objCSS, toggleColor?'bordure':'']"></div> -->

        <!-- <button @click="cptA++">augmente</button>
        <button @click="cptA--">diminue</button>
        <h2>Compteur : {{cptA}}</h2>
        <p>{{checkVal()}} |||| {{memo}}</p>


        <button v-on:click="cptB++">augmenteB</button>
        <button v-on:click="cptB--">diminueB</button>
        <h2>Compteur : {{cptB}}</h2> -->
        <!-- 
        <button v-on:click="augmente">augmente</button>
        <button v-on:click="diminue">diminue</button>
        <h3>{{cpt?'il est true': 'il est false'}}</h3>
        <canvas v-on:mousemove="coords"></canvas>
        <p>{{x}} /{{y}}</p>
        <button v-on:click.once="foo">clique moi une fois</button>
        <div>
            <p v-on:click="foo">lorem ipsum
                <button v-on:click.stop="foo">clique moi</button>
            </p>
        </div>
        <form v-on:submit.prevent="onSubmit">
            <button>Valider</button>
        </form>

        <p>ton nom</p>
        <input type="text" v-on:keyup="inpFunction">
        <input type="text" v-model="valeur">
        <p>{{valeur}}</p>
        <p v-html="htmlBrut">{{htmlBrut}}</p> -->

        <!-- <a :href="cptA"></a> -->
        <!-- <p :style="monStyle">lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores,
            recusandae
        </p> -->
        <!-- <template v-if="toggleBox">
            <p> lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, recusandae </p>
            <p> lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, recusandae </p>
            <p> lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores, recusandae </p>
        </template> -->
        <!-- <ul>
            <li v-for="n in tableau">{{n}}</li>
        </ul> -->
        <ul>
            <li v-for="(fruit, index) in tableauFruits">{{index}}:{{fruit}}</li>
        </ul>
        <ul>
            <li v-for="(val, props) in objChat">{{props}} : {{val}}</li>
        </ul>
        <ul>
            <li v-for="obj in listObjChat">
                <div v-for="(val, props) in obj">
                    {{props}} : {{val}}
                </div>
            </li>
        </ul>
    </div>



    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        new Vue({
            el: '#mon-app',
            data:{
                // tableau:[1,2,3,4,5],
                tableauFruits:["fraise", "pomme", "poire"],
                toggleBox : false,
                objChat:{ race:'persan', age:3, poids:"5kg"},
                listObjChat:[
                    { race:'persan', age:3, poids:"5kg"},
                    { race:'tralou', age:1, poids:"6 livres"},
                    { race:'azer', age:2, poids:"1300g"},
                    { race:'poiu', age:4, poids:"12 livres"},
                ],
                // num:2,
                // toggleColor : false,
                // color:'lightblue',
                // width:200
                // cptA:0,
                // cptB:0,
                // x:0,
                // y:0,
                // valeur:"",
                // htmlBrut:"<p>Mon HTML Brut</p>",
            },
            methods : {
                // augmente:function(){
                //     this.cptA++;
                // },
                // diminue:function(){
                //     this.cptA--;
                // },
                // checkVal:function(){
                //     console.log("la fonction a été lancée");
                //     return this.cptA>10?'supérieur à 10':'inférieur/égal à 10'
                // },
                // coords:function(e){
                //     console.log(e);
                //     this.x=e.offsetX;
                //     this.y=e.offsetY;
                // },
                // foo : function(){
                //     console.log("cliqué");
                // },
                // foo1 : function(){
                //     console.log("cliqué1");
                // },
                // onSubmit : function(e){
                //     console.log("submit");
                //     e.preventDefault();//pareil que submit.prevent en html
                // },
                // inpFunction : function(e){
                //     console.log("appuyé sur une touche");
                //     this.valeur=e.target.value;
                //     console.log(this.valeur);
                // }
            },
            watch:{
            //     cptA:function(){
            //         console.log("Prop update");
            //         var ctx=this;
            //         setTimeout(function(){
            //             ctx.cptA=0;
            //         }, 1500)//affecte 0 au compteur au bout de 1.5 secondes
            //     },
            },
            computed:{
                // objCSS:function(){
                //     return{
                //     red:this.toggleColor,
                //     box:true,
                //     }
                // },
                // monStyle:function(){
                //     return{
                //         backgroundColor:this.color,
                //         width:this.width+"px",
                //     }
                // }
            //     memo:function(){
            //         console.log("MEMO lancé");
            //         return this.cptA>10?'supérieur à 10':'inférieur/égal à 10'
            //     },
            }
        })

    </script>
</body>
</html>